.picture-wrapper {
	position: relative;
	width: 100%;
	height: 223px;
	margin: 50px 0 40px 0;

	img {
		@include imageCover;
		border-radius: 25px;
	}

	h2 {
		@include flexCenter;
		@include positionCenter;
		color: $white;
		font-weight: 500;
		width: 100%;
		height: 100%;
		border-radius: 25px;
		font-size: 48px;
		background: rgba(0, 0, 0, 0.3);
	}
}
