@font-face {
   font-family: "font1";
   src: url(../assets/fonts/Montserrat-Regular.otf);
}
@font-face {
   font-family: "font2";
   src: url(../assets/fonts/Montserrat-Bold.otf);
}

$font1: "font1", sans-serif;
$font2: "font2", sans-serif;

$color1: #FF6060;
$black: #000;
$white: #fff;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin footerOffset {
  margin-left: -100px;
  margin-right: -100px;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 body {
   font-family: $font1;
   background-color: $white;
   max-width: 1440px;
   margin: 0 auto;
   padding: 50px 100px 0 100px;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 li {
   list-style-type: none;
 } 